<!DOCTYPE html>
<html>
    <head>
        <!-- Title here -->
        <title>Nuit de l'info | Home</title>
        <metaTag th:replace="fragments/metaTag :: metaTag"></metaTag>

    </head>

    <body>

        <div th:replace="fragments/templateLayout :: navbarMenu"></div>
        

        <div class="container">

            <div class="well">
                <p>Hello world</p>
            </div>

        </div>	
        <jstag th:replace="fragments/jsImport :: jsImport"></jstag>

    </body>	
</html>