<!DOCTYPE html>
<html>
    <head>
        <!-- Title here -->
        <title>Nuit de l'info | Informations</title>
        <metaTag th:replace="fragments/metaTag :: metaTag"></metaTag>

    </head>

    <body>
        <input type="hidden" id="current-menu" th:value="${menu}"/>
        <div th:replace="fragments/templateLayout :: navbarMenu"></div>
        

        <div class="container">

            <div class="well">
                <p>Information</p>
            </div>

        </div>	
        <jstag th:replace="fragments/jsImport :: jsImport"></jstag>

    </body>	
</html>