<!DOCTYPE html>
<html>
    <head>
        <!-- Title here -->
        <title>Nuit de l'info | Informations</title>
    <metaTag th:replace="fragments/metaTag :: metaTag"></metaTag>
</head>

<body>
    <input type="hidden" id="current-menu" th:value="${menu}"/>
    <div th:replace="fragments/templateLayout :: navbarMenu"></div>


    <div class="container">

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="well">
                    <div id="map" style="width: auto; height: 450px; border: 1px solid red;"></div>
                </div>
            </div>
        </div>


    </div>	

<jstag th:replace="fragments/jsImport :: jsImport"></jstag>
<script type="text/javascript" th:src="@{/resources/js/mapmarker.jquery.js}"></script>

<script type="text/javascript">
    $(document).ready(function () {

        //set up markers
        var myMarkers = {"markers": [
                {"latitude": "50.603873496347", "longitude": "3.1376910209655", "icon": "/hrescue/resources/img/user.png", "baloon_text": 'This is <strong>my place</strong>'},
                {"latitude": "48.8534100", "longitude": "2.3488000", "icon": "/hrescue/resources/img/user.png", "baloon_text": 'This is <strong>my place</strong>'},
//            {"latitude": "35.101934057246055", "longitude":"-96.6796875", "icon": "img/castle.png", "baloon_text": 'This is <strong>Oklahoma</strong>'},
//            {"latitude": "38.61687046392973", "longitude":"-98.876953125", "icon": "img/house.png", "baloon_text": 'This is <strong>Kansas</strong>'}
            ]
        };

        //set up map options
        $("#map").mapmarker({
            zoom: 5,
            center: 'Lille, France',
            markers: myMarkers
        });

    });
</script>

</body>	
</html>