<!DOCTYPE html>
<html>
    <head>
        <!-- Title here -->
        <title>Nuit de l'info | Informations</title>
    <metaTag th:replace="fragments/metaTag :: metaTag"></metaTag>
    <meta charset="UTF-8"/>
</head>

<body>
    <input type="hidden" id="current-menu" th:value="${menu}"/>
    <div th:replace="fragments/templateLayout :: navbarMenu"></div>

        <div class="container">

            <div class="well">
                <img alt="infos" style="width:64px; float:left; margin-right: 8px;" src="resources/img/icon_info.png"/><h2>Gestion des utilisateurs :</h2>
            </div>

            <div class="well">
                
            </div>

        </div>
    

<jstag th:replace="fragments/jsImport :: jsImport"></jstag>
<script type="text/javascript" th:src="@{/resources/js/mapmarker.jquery.js}"></script>

</body>	
</html>